/*--Edge-Slide--*/
.slide-edge{
    height: 768px;
    background-color: #000A13;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.slide-text{
   height: 20%;
}
.slide-title{
    width: 494px;
    height: 48px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.slide-subtitle{
    width: 512px;
    height: 16px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 28px;
}
.container-slide{
    height: 80%;
   
}
.flecha-izq-slide{
    position: absolute;
    top: 241px;
    left: -76px;
    width: 40px;
    height: 40px;
    background: transparent url('/src/arquivos/Sustracción_5.svg') ;
}
.flecha-der-slide{
    position: absolute;
    top: 256px;
    left: 813px;
    width: 40px;
    height: 40px;
    background: transparent url('/src/arquivos/Sustracción_6.svg') ;
}