/*--Edge-Slide--*/
.slide-edge{
    height: 768px;
    background-color: #000A13;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.slide-text{
   height: 20%;
}
.slide-title{
    width: 494px;
    height: 48px;
    font-family: 'SANS-SERIF';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.slide-subtitle{
    width: 512px;
    height: 16px;
    font-family: 'SANS-SERIF';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 28px;
}
.container-slide{
    height: 80%;
   
}
.flecha-izq-slide{
    display: none;
    position: absolute;
    top: 241px;
    left: -76px;
    width: 40px;
    height: 40px;
    background: transparent url('/src/arquivos/Sustracción_5.svg') ;
}
.flecha-der-slide{
    display: none;
    position: absolute;
    top: 256px;
    left: 813px;
    width: 40px;
    height: 40px;
    background: transparent url('/src/arquivos/Sustracción_6.svg') ;
}
.slider-t{
    display: none;
}
.slider-m{
    display: none;
}
@media screen and (max-width:1024px){
    .slider{
        padding-right: 125px;
    }
    .slide-text{
        padding-right: 145px;
    }
}
@media screen and (max-width:768px){
    .slider{
        display: none;
    }
    .slider-t{
        display: block;
    }
    .slide-title{
        font-size: 32px;
        padding-left: 112px;
    }
    
}
@media screen and (max-width:425px){
    .slider-t{
        display: none;
    }
    .slider-m{
        display: block;
    } 
    .slide-title{
        font-size: 25px;
        padding-left: 0px;
    }
    .slide-text{
        padding-right: 0px;
    }
}