/*--Edge-Video--*/
.container-edge-video{
    height: 800px;
    background-color:#000A13;
}
.container-edge-video-title{
    position: absolute;
    left: 34%;
}
.edge-video-title{
    width: 462px;
    height: 48px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.edge-video-subtitle{
    width: 438px;
    height: 16px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}
.edge-video{
    height: 879px;
    display: flex;
    justify-content: space-around;
}
.video-1{
    height: 879px;
}