/*--Edge-Video--*/
.container-edge-video{
    height: 800px;
    background-color:#000A13;
    display: flex;
}
.container-edge-video-title{
    height: 20%;
}
.edge-video-title{
    width: 462px;
    height: 48px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.edge-video-subtitle{
    width: 438px;
    height: 16px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 20%;
}
.container-edge-video{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-1{
    height: 879px;
}