/*---Header---*/
header{
    height: 84px;
    background: #20212E;
    opacity: 0.90;
}
.Logo-header-container{
    position: absolute;
    top: 26px;
    left: 80px;
    width: 124px;
    height: 32px;
    color: white;
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
}
nav{
    position:absolute;
}
li{
    list-style: none;
    color: #FFFFFF;
}
.li-1{
    position: inherit;
    top: 36px;
    left: 816px;
    width: 66px;
    height: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Gotham;
    letter-spacing: 0px;
}
.li-2{
    position: inherit;
    top: 36px;
    left: 953px;
    width: 80px;
    height: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Gotham;
    letter-spacing: 0px; 
}
.button-nav{
    position: inherit;
    top: 18px;
    left: 1100px;
    width: 186px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    cursor: pointer;
}