/*---Header---*/
header{
    height: 84px;
    background: #20212E;
    opacity: 0.90;
}
.Logo-header-container{
    position: absolute;
    top: 26px;
    left: 80px;
    width: 124px;
    height: 32px;
    color: white;
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
}
nav{
    position:absolute;
}
li{
    list-style: none;
    color: #FFFFFF;
}
.li-1{
    position: inherit;
    top: 36px;
    left: 816px;
    width: 100px;
    height: 16px;
    text-align: center;
    font-family: 'SANS-SERIF';
    font-weight: normal;
    font-size: 19px; 
}
.li-2{
    position: inherit;
    top: 36px;
    left: 953px;
    width: 100px;
    height: 16px;
    text-align: center;
    font-family: 'SANS-SERIF';
    font-weight: normal;
    font-size: 19px; 
}
.v{
    display: none;
}
.button-nav{
    display: none;
    position: inherit;
    top: 18px;
    left: 1100px;
    width: 186px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    cursor: pointer;
}

/*---Responsive---*/
@media screen and (max-width:2560px) {
    nav{
        left: 755px;
    }
}
@media screen and (max-width:1440px) {
    nav{
        left: 60px;
    }
} 
@media screen and (max-width:1024px) {
    nav{
        left: -165px;
    }
} 
@media screen and (max-width:768px) {
    nav{
        left: -435px;
    }
} 
@media screen and (max-width:425px) {
    nav{
        left: -165px;
    }
    .Logo-header-container{
        width: 134px;
        height: 33px;
        left:25px;
    }
    .v{
        display: block;
        width: 16px;
        height: 10px;
        font-family: 'SANS-SERIF';
        font-weight: normal;
        font-size: 16px;
        padding-left: 485px;
        padding-top: -134px;
        margin-top: 35px;
    }
    .li-1,
    .li-2{
        display: none;
    }
} 
@media screen and (max-width:320px){
    .v{
        padding-left: 437px;
    }
}