.section-batery-life{
    height: 768px;
    background-color: #000A13;
    display: flex;
}
.container-text-batery{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-video-batery{
    width: 50%;
}
.title-batery{
    width: 291px;
    height: 106px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.subtitle-batery{
    width: 412px;
    height: 103px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}