/*--Edge-Colors--*/
.container-edge-colors{
    height: 674px;
    background: url('/src/arquivos/Grupo_2246.svg') ;
}
.container-text-edge-colors{
    width: 30%;
}
.container-logo-edge-colors{
    position: absolute;
    top: 1045px;
    left: 80px;
    width: 124px;
    height: 32px;
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
}
.container-text-edge-colors-text{
    position: absolute;
    top: 1101px;
    left: 80px;
}
.container-text-edge-colors-text p{
    width: 458px;
    height: 67px;
    font-family: 'SANS-SERIF';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}
.container-image-edge-colors{
    width: 100%;
}
.image-edge-colors{
    background: url('/src/arquivos/Enmascarar_grupo_104.png') 0% 0% no-repeat padding-box;
    height: 674px;
}
@media screen and (max-width:2560px){
    .image-edge-colors{
        margin-left: 1192px;
    }   
}
@media screen and (max-width:1440px){
    .image-edge-colors{
        margin-left: 0px;
    }   
}
@media screen and (max-width:1024px){
    .image-edge-colors{
        margin-left: 0px;
    }   
}
@media screen and (max-width:768px){
    .container-edge-colors{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }  
    .image-edge-colors{
        width: 768px;
        margin-left: 140px;
        background: url('../../../arquivos/Grupo_2275.png') no-repeat;
    }
    .container-text-edge-colors {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-left: 150px;
        z-index:3;
    }
    .container-logo-edge-colors{
        position:inherit;
    }
    .container-text-edge-colors-text{
        position: inherit;
    }
    .container-image-edge-colors{
        height: 50%;
        position: absolute;
    }
}
@media screen and (max-width:425px){
    .container-text-edge-colors{
        padding-left: 122px;
        padding-top: 140px;
    }
    .container-text-edge-colors-text p{
        width: 260px;
        font-size: 14px;
        padding-top: 21px;
        margin-left: -30px;
    }
    .container-edge-colors{
        height: 645px;
    }
    .image-edge-colors{
        margin-left: 0px;
        margin-top: 78px;
        width: auto;
    }
}
@media screen and (max-width:320px){
    .container-text-edge-colors{
        padding-left: 68px;
    }
    .container-text-edge-colors-text p{
        font-size: 12px;
    }
}
