/*---Beuty---*/
.section-beuty{
    height: 757px;
    background-color: #000A13;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.container-text-beuty{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title-beuty{
    width: 478px;
    height: 120px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}
.subtitle-beuty{
    width: 632px;
    height: 39px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.container-images-beuty{
    height: 70%;
}
.beuty-image{
    width: 1150px;
    height: 439px;
    background: url('../../../arquivos/Grupo_2212.png')no-repeat;
}
@media screen and (max-width:2560px){
    .container-images-beuty{
        padding-left: 28%;
    }
}
@media screen and (max-width:1440px){
    .container-images-beuty{
        padding-left: 10%;
    }
}
@media screen and (max-width:1024px){
    .container-images-beuty{
        padding-left: 5%;
    }
    .beuty-image{
        width: auto;
    }
}
@media screen and (max-width:768px){
    .beuty-image{
        background: url('../../../arquivos/Grupo_2344.png')no-repeat;
        width: auto;
        margin-left: 125px;
    }
} 
@media screen and (max-width:425px){
    .title-beuty{
        width: auto;
    }
    .subtitle-beuty{
        width: auto;
        padding: 0 20px;
    }
    .beuty-image{
        margin-left: 0px;
    }
}
@media screen and (max-width:375px){
    .container-images-beuty{
        padding-left: 0%;
    }
    .title-beuty{
        font-size: 30px;
        padding-left: 60px;
        height: auto;
    }
    .subtitle-beuty{
        padding-left: 100px;
        font-size: 10px;
    }
}
