/*----General----*/
*{
    margin: 0;
    padding: 0;
}
/*---Header---*/
header{
    height: 84px;
    background: #20212E;
    opacity: 0.90;
}
.Logo-header-container{
    position: absolute;
    top: 26px;
    left: 80px;
    width: 124px;
    height: 32px;
    color: white;
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
}
nav{
    position:absolute;
}
li{
    list-style: none;
    color: #FFFFFF;
}
.li-1{
    position: inherit;
    top: 36px;
    left: 816px;
    width: 66px;
    height: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Gotham;
    letter-spacing: 0px;
}
.li-2{
    position: inherit;
    top: 36px;
    left: 953px;
    width: 80px;
    height: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Gotham;
    letter-spacing: 0px; 
}
.button-nav{
    position: inherit;
    top: 18px;
    left: 1100px;
    width: 186px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    cursor: pointer;
}
/*---Body---*/
/*--Sku-Selector-Section--*/
.Section-sku-selector{
    display: flex;
    background-color: #000A13;
    padding-bottom: 110px;
}
/*-Sku-Selector-info-*/
.Sku-selector-info{
    width: 50%;
}
.sku-title{
    padding-left: 80px;
    padding-top: 110px;
    color: #FFFFFF;
}
.sku-title-one{
    width: 469px;
    height: 36px;
    text-align: left;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 36px;
}
.sku-text{
    width: 298px;
    height: 24px;
    padding-top: 30px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 24px;
    opacity: 0.5;
}
/*-Device-selector-*/
.container-device-selector{
    display: flex;
    padding-left: 80px;
    padding-top: 32px;
}
.container-device{
    margin-left: 10px;
}
.title-device{
    align-self: center;
}
.title-device span{
    width: 106px;
    height: 14px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 17px;
    color: #FFFFFF;
}
.button-device{
    width: 125px;
    height: 48px;
    background: #0F161F 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.25;
    margin: 0 8px;
    border-style: none;
}
.button-device span{
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}
.container-color-selector{
    display: flex;
    padding-left: 80px;
    padding-top: 32px;
}
.title-color-selector{
    align-self: center;
}
.title-color-selector span{
    width: 95px;
    height: 14px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 17px;
    color: #FFFFFF;
}
.containers-color-selector{
    margin-left: 10px;
}
.button-color-selector{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    border-style: none;
    margin:0 16px;
}
.btn-1{
    background-color: #255781;
}
.btn-2{
    background-color: #CEE6F8;
}
.btn-3{
    background-color: #264A67;
}
/*-Storage-Selector-*/
.container-storage-selector{
    display: flex;
    padding-left: 80px;
    padding-top: 32px;
}
.title-storage{
    align-self: center;
}
.title-storage span{
    width: 95px;
    height: 14px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.containers-storage{
    margin-left: 10px;
}
.button-storage{
    width: 157px;
    height: 48px;
    background: #0F161F 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.25;
    margin: 0 8px;
    border-style: none;
}
.button-storage span,
.button-storage-carrier span{
    width: 95px;
    height: 14px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 17px;
    color: #FFFFFF;
}
.span-carrier{
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF; 
}
.button-storage-carrier{
    width: 133px;
    height: 48px;
    background: #0F161F 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 0.25;
    margin: 0 8px;
    border-style: none;
}
/*-Price-*/
.container-price{
    padding-left: 80px;
    padding-top: 38px;
}
.Price{
    width: 116px;
    height: 32px;
    text-align: left;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
    opacity: 0.25;
}
/*-button-sku-*/
.container-button-sku{
    padding-left: 80px;
    padding-top: 33px;
}
.button-sku{
    width: 312px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 0.25;
}
/*-sku-selector-image-*/
.container-sku-image{
    width: 50%;
    padding-top: 55px;
}
.sku-image{
    width: 520px;
    height: 520px;
    background: transparent url('/src/arquivos/Enmascarar_grupo_98.png') 0% 0% no-repeat padding-box;
}
.flecha-izq{
    position: absolute;
    top: 379px;
    left: 635px;
    background: transparent url('/src/arquivos/Sustracción_5.svg') 0% 0% no-repeat padding-box;
    width: 40px;
    height: 40px;
}
.flecha-der{
    position: absolute;
    top: 379px;
    left: 1195px;
    width: 40px;
    height: 40px;
    background: transparent url('/src/arquivos/Sustracción_6.svg') 0% 0% no-repeat padding-box;
}
/*--Edge-Colors--*/
.container-edge-colors{
    height: 674px;
    background: url('/src/arquivos/Grupo_2246.svg') 0% 0% no-repeat padding-box;
}
.container-text-edge-colors{
    width: 30%;
}
.container-logo-edge-colors{
    position: absolute;
    top: 1045px;
    left: 80px;
    width: 124px;
    height: 32px;
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
}
.container-text-edge-colors-text{
    position: absolute;
    top: 1101px;
    left: 80px;
}
.container-text-edge-colors-text p{
    width: 458px;
    height: 67px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}
.container-image-edge-colors{
    width: 100%;
}
.image-edge-colors{
    background: url('/src/arquivos/Enmascarar_grupo_104.png');
    height: 674px;
}
/*--Edge-Camera--*/
.container-edge-camera{
    height: 768px;
    background: #000A13;
}
.container-image-edge-camera{
    width: 50%;
}
.image-edge-camera{
   position: absolute;
   top: 587px;
   left: -521px;
}
.container-text-edge-camera{
    position: absolute;
    top: 1568px;
    left: 727px;
    width: 441px;
    height: 258px;
}
.Logo-edge-camera{
    background: transparent url('/src/arquivos/Grupo_2196.svg') 0% 0% no-repeat padding-box;
    width: 130px;
    height: 33px;
}
.text-edge-camera{
    padding-top: 27.93px;
}
.text-edge-camera span{
    width: 364px;
    height: 20px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF;
}
.container-specs-edge-camera{
    display: flex;
    padding-top: 23.88px;
}
.specs-edge-camera-1{
    width: 50%;
}
.specs-edge-camera-2{
    width: 50%;
}
.container-specs-edge-camera li{
    padding-bottom: 19px;
    color:#FFFFFF;
    font-size: 16px;
}
.container-specs-edge-camera span{
    font-size: 12px;
}
/*--Edge-Periscope--*/
.container-periscope{
    display: flex;
    height: 768px;
    background-color:#000A13;
}
.periscope-image{
    width: 50%;
    background: url('/src/arquivos/Enmascarar_grupo_2188.png');
}
.periscope-text-container{
    width: 50%;
}
.title-periscope{
    padding-bottom: 38px;
    padding-top: 324px;
}
.title-periscope span{
    width: 236px;
    height: 36px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}
.text-periscope p{
    width: 527px;
    height: 53px;
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
}